.about {
  border-radius: 15px;
  background-color: $color-default-white;
}

.about__container {
  box-shadow: 0 4px 26px 0 #00000014;
  padding: 15px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;

  @include vp-768 {
    flex-direction: row;
  }
}

.about__img-wrapper {
  width: 248px;
  height: 100%;

  @include vp-768 {
    width: 336px;
    min-height: 360px;
  }

  @include vp-1440 {
    width: 566px;
    min-height: 425px;
  }
}

.about__img {
  object-fit: cover;
  width: 248px;
  min-height: 186px;
  height: 100%;
  border-radius: 15px;

  @include vp-768 {
    width: 336px;
    min-height: 360px;
  }

  @include vp-1440 {
    width: 566px;
    min-height: 425px;
  }
}

.about__text-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include vp-768 {
    margin-left: auto;
    width: 336px;
  }

  @include vp-1440 {
    width: 566px;
  }
}

.about__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 31px;
  margin: 10px 0;

  @include vp-768 {
    font-size: 32px;
    line-height: 42px;
  }
}

.about__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;

  @include vp-768 {
    font-size: 14px;
    line-height: 17px;
  }

  @include vp-1440 {
    font-size: 16px;
    line-height: 24px;
  }
}
