.card-page {
  margin-top: 5px;

  @include vp-1440 {
    margin-top: 18px;
  }

  .lots__description-item {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .zoom--closed {
    display: none;
    cursor: pointer;
  }

  .card__name-wrapper {
    // margin-top: 25px;
  }

  .card__container {
    margin-top: 30px;

    @include vp-1440 {
      margin-top: 50px;
    }
  }

  .card__title {
    margin-top: 0;
  }

  .card__signs-wrapper {
    align-self: flex-start;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: $color-default-white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    cursor: pointer;
  }

  .card__signs-wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .favorite {
    fill: #ffffff;
    stroke: #686868;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
      stroke: $color-burnt-atlantis;
    }

    &--active {
      fill: $color-burnt-atlantis;
      stroke: $color-burnt-atlantis;
    }
  }

  .favorite__button {
    border: none;
    background-color: transparent;
  }

  .favorite--active {
    fill: $color-burnt-atlantis;
    stroke: $color-burnt-atlantis;
  }

  .card__photo-list {
    padding-bottom: 40px;
  }

  .swiper-pagination-bullets {
    bottom: 0px;
    z-index: 500;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }

  .mySwiper2 {
    height: 100%;
    width: 100%;
  }

  .mySwiper3 {
    width: 100%;
    box-sizing: border-box;
    padding: 24px 0;
    overflow: hidden;

    img {
      @include vp-1440 {
        min-width: 187px;
      }
    }
  }



  .mySwiper3 .swiper-slide {
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }

  .mySwiper3 .swiper-slide {
    border: 1px solid transparent;

    &:hover,
    &:focus,
    &:active {
      border-color: $color-burnt-atlantis;
    }
  }

  .mySwiper3 .swiper-slide-thumb-active {
    border-color: $color-burnt-orange;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper--desktop,
  .swiper-button-next,
  .swiper-button-prev {
    display: none;

    @include vp-1440 {
      display: block;
    }
  }

  .swiper--desktop {
    @include vp-1440 {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }

    .swiper-wrapper {
      @include vp-1440 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 21px;
      }
    }
  }

  .card__slider.card__slider--zoom {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 820;
    min-width: 320px !important;
    width: 100% !important;
    padding: 0 20px;
    max-width: 584px !important;

    @include vp-768 {
      max-width: 730px !important;
    }

    @include vp-1440 {
      max-width: 818px !important;
      top: 30%;
    }

    .zoom--closed {
      display: block;
      position: absolute;
      top: -40px;
      right: 20px;
      background-color: transparent;
      border: none;
      width: 24px;
      height: 28px;
      padding: 0;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 10px;
        bottom: 0;
        right: 0;
        display: block;
        width: 24px;
        height: 3px;
        background: #ffffff;
        z-index: 1000;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }

      &:hover,
      &:focus,
      &:active {

        &::after,
        &::before {
          opacity: 80%;
        }
      }

      // @include vp-768 {
      //   right: 20px;
      // }

      @include vp-1440 {
        right: -20px;
      }
    }

    .card__photo-list.swiper-wrapper {
      // display: flex;
    }

    .mySwiper2 {
      height: auto;
      // overflow: visible;
      @include vp-1440 {
        width: 818px !important;
      }

      .swiper-slide {

        @include vp-1440 {
          width: 818px !important;
          max-width: none;
          max-height: 614px;
          }
      }

      .card__photo-list {
        @include vp-1440 {
          padding-bottom: 17px;
        }
      }

      .swiper-pagination {
        @include vp-1440 {
          display: block;
          // top: 5px;
          bottom: -3px;
      }
    }

      .swiper-slide img,
      .swiper-slide .picture {
        @include vp-1440 {
        width: 818px !important;
        max-width: none;
        }
      }

      // width: 100%;
      .swiper-slide.swiper-slide-active, .swiper-slide {
        width: 100%;
      }

      .swiper-wrapper {
        @include vp-1440 {
          max-width: none;
          width: 818px !important;
          max-height: none;
          // height: 100%;
        }
      }

      .lots__photo-item.swiper-slide.swiper-slide-active {
        // width: 280px !important;
        min-width: 280px !important;
        width: 100% !important;
        max-width: 584px !important;

        @include vp-768 {
      //     // width: 584px !important;
      //     min-width: 584px !important;
      // max-width: 720px !important;
      max-width: 690px !important;
      // padding: 0 40px;
        }

        @include vp-1440 {
          max-width: none;
          max-width: 818px !important;
        }
      }

      @include vp-768 {
        .swiper-button-next,
        .swiper-button-prev {
          display: block;
        }

        // .swiper-button-prev {
        //   z-index: 1000;
        //   left: -10px;
        // }
      }
    }

    .mySwiper3 {
      display: flex;
      flex-wrap: nowrap;
      // width: 280px;
      min-width: 280px !important;
        width: 100% !important;
        max-width: 584px !important;


      @include vp-768 {
      //   // width: 584px;
      //   min-width: 584px !important;
      // max-width: 720px !important;
      max-width: 690px !important;
      // padding: 0 40px;
      }

      @include vp-1440 {
        max-width: 818px;
        // height: 150px;
        padding-top: 14px;
      }

      .lots__photo-item--hidden {
        display: block !important;
      }

      .lots__photo-item {
        // margin-right: 0 !important;
      }

      .swiper-wrapper {
        display: flex;
        // display: grid;
        // grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 0;
        width: 100%;
      }

      .swiper-slide,
      .swiper-slide img {
        border-radius: 5px;
      }
    }
  }

  .swiper-pagination {
    display: block;

    @include vp-1440 {
      display: none;
    }
  }
}

.card__text-wrapper a {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: $color-burnt-orange;

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
    text-underline-offset: 6px;
    color: #FF9151;
  }
}

.card__text-wrapper--mobile {
  display: block;

  @include vp-1440 {
    display: none;
  }
}

.card__text-wrapper--desktop {
  display: none;

  @include vp-1440 {
    display: block;
  }
}

.card__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: $color-nero;

  @include vp-768 {
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    margin-bottom: 15px;
  }

  @include vp-1440 {
    margin-top: 50px;
  }
}

.card__description {
  font-size: 24px;
  font-weight: 500;
  line-height: 31px;
  color: $color-nero;

  @include vp-768 {
    font-size: 32px;
    line-height: 42px;
  }
}

.card__print {
  cursor: pointer;

  svg {
    stroke: #686868;
    fill: none;
  }

  &:hover,
  &:focus,
  &:active {
    svg {
      stroke: $color-burnt-atlantis;
    }
  }

}

.card__date {
  padding: 30px;
  color: red;
}

.card__information-list {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  gap: 16px;

  @include vp-768 {
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
  }

  @include vp-1440 {
    grid-template-columns: 1fr;
  }
}

.card__information-item {
  padding: 15px 10px;
  border: 1px solid $color-gainsboro;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;

  @include vp-768 {
    padding: 10px 10px;
  }
}

.card__information {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #686868;

  &--price {
    color: $color-nero;
  }
}

.card__information-wrapper {
  @include vp-1440 {
    width: 40%;
  }
}

.card__slider {
  margin-top: 25px;

  @include vp-768 {
    margin-top: 30px;
  }

  @include vp-1440 {
    max-width: 608px;
    max-height: 456px;
  }
}

.mySwiper2 .swiper-slide {
  @include vp-1440 {
    max-width: 608px;
    max-height: 456px;
  }
}

.mySwiper2 picture {
  width: 100%;
  height: 100%;
}

.mySwiper2 .swiper-wrapper {
  // width: 280px !important;
  min-width: 280px !important;
        width: 100% !important;
  margin: 0 !important;

  @include vp-1440 {
    max-width: 608px;
    width: auto !important;
    max-height: 456px;
  }
}

.card__information-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  color: #686868;

  @include vp-768 {
    margin-bottom: 40px;
  }
}

.card__information--extra {
  position: relative;
  padding: 40px 0;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    top: 30px;
    width: 100%;
    height: 1px;
    background-color: $color-gainsboro;
  }

  .card__information-list--border {
    gap: 3px;

    @include vp-768 {
      gap: 15px 22px;
      position: relative;

      &::after {
        content: "";
      position: absolute;
      right: 50%;
      bottom: 0;
      top: 0;
      width: 1px;
      height: 100%;
      background-color: $color-gainsboro;
      }
    }

    @include vp-1440 {
      &::after {
        content: none;
      }
    }
  }

  .card__information-list--last {
    margin-top: 10px;
  }

  .card__information-list--border .card__information-item {
    border: none;
    position: relative;
    padding-left: 0;
    padding-right: 0;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: -12%;
      width: 100%;
      height: 1px;
      background-color: $color-gainsboro;
    }

    &:last-child::after {
      width: 100%;

      @include vp-768 {
        width: 105%;
      }

      @include vp-1440 {
        width: 100%;
      }
    }
  }

  .card__information-list--last .card__information-item {
    &::after {
      @include vp-768 {
        content: none;
      }
    }

    &:last-child::after {
      content: none;
    }
  }
}

.card__information-list--last .card__information-item {
  flex-direction: column;

  a {
    color: $color-burnt-atlantis;
  }
}

.lots__photo-item--hidden {
  display: none !important;
}

.lots__more-button {
  display: none;

  @include vp-1440 {
    display: block;
    margin: 0 auto;
    width: 100%;
    border: none;
    background-color: $color-default-white;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: center;
    color: $color-burnt-orange;

    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
      text-underline-offset: 6px;
      color: #FF9151;
    }
  }
}

.card-page-print {
  .card__text-wrapper {
    min-width: 520px;
    max-width: 1040px;
    width: 100%;
    margin: 20px auto 40px;
  }

  .card__information-list {
    grid-template-columns: 1fr;
  }

  .card__information-wrapper {
    width: 100%;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .lot-print__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
  }

  .lot-print__item {
    &--main {
      grid-column: 1 / 4;
      grid-row: 1 / 3;
    }

    img {
      border-radius: 15px;
    }
  }

  .card__information-title {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    margin-top: 40px;
    margin-bottom: 25px;
  }

  .card__information-item--wide {
    padding-left: 0;
    padding-right: 0;
  }

  .card__information-list--border {
    gap: 6px;


  }

  .card__information-item:last-child::after {
    width: 100% !important;
  }
}

.page--print {
  .container--footer {
    flex-direction: row;
  }
}

.card__price {
  margin: 50px 0 70px;

  @include vp-768 {
    margin: 50px 0 40px;
  }
}

.price-data__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;

  @include vp-768 {
    flex-direction: row;
    margin-bottom: 13px;
  }

  @include vp-1440 {}
}

.price-data__buttons-offer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.price-data__modal {
  box-shadow: 0px 4px 26px 0px #00000014;
  z-index: 1;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 60px;
  width: 280px;
  background-color: #F2F4F5;
  border: 1px solid #E0E0E0;
  border-radius: 15px;
  padding: 15px;

  @include vp-768 {
    width: 397px;
  }

  .price-input {
    padding: 15px 10px;
    border: none;
    background-color: transparent;
    border: 1px solid #E0E0E0;
    width: 100%;
    border-radius: 15px;
    outline: none;

    &:hover,
    &:focus,
    &:active {
      border-color: $color-burnt-atlantis;
    }

    &::placeholder {
      color: #686868;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }
  }

  .modal__title {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    margin-bottom: 10px;
    text-align: left;
  }

  .modal__text-flex {
    display: flex;
    align-items: center;
  }

  .modal__text-wrapper {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    position: relative;
    padding: 15px 0;

    &::after {
      content: "";
      position: absolute;
      bottom: 3px;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: #E0E0E0;
    }

    &::before {
      content: "";
      position: absolute;
      top: 3px;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: #E0E0E0;
    }

    .modal__text {
      color: #686868;
      margin: auto 5px auto 0;
    }

    span {}
  }

  .checkbox input:checked~.checkbox__checkmark:after,
  .checkbox input:checked~.checkbox__checkmark {
    background-color: #F2F4F5;
  }

  .checkbox .checkbox__checkmark:after {
    background-color: #F2F4F5;
  }

  .checkbox .checkbox__checkmark {
    background-color: #F2F4F5;
  }

  .connection__wrapper {
    padding: 15px 0;
  }

  .modal__button-offer {
    border-radius: 15px;
    padding: 15px;
    width: 100%;
    margin-top: 10px;
    z-index: 100;

    &--active {
      background-color: #FE7333;
      pointer-events: all;
      cursor: pointer;

      &:hover,
      &:focus,
      &:active {
        background-color: #FF9151;
      }
    }
  }
}

.price-data__item {
  border-radius: 15px;
  box-shadow: 0px 4px 26px 0px #00000014;
  display: block;

  @include vp-768 {
    width: 100%;
  }
}

.price-data__title {
  color: $color-default-white;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: center;
  background-color: $color-burnt-atlantis;
  display: block;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 20px;

  @include vp-768 {
    font-size: 24px;
    line-height: 31px;
    padding: 16px;
  }
}

.price-data {
  @include vp-768 {
    display: flex;
    flex-direction: column;
  }

}

.price-data__price-container {
  padding: 20px;

  @include vp-768 {
    // min-height: 143px;
    padding: 0 10px;
  }

  .price-data__price--extra {
    @include vp-768 {
      // margin-top: 0px;
    }
  }

  .price-data__price--wide {
    margin-top: 33px;
  }
}

.price-data__price {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;

  @include vp-768 {
    // font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    margin-top: 18px;
    margin-bottom: 6px;
  }

}

.price-data__price--extra {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}

.price-data__button {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: $color-default-white;
  background-color: $color-burnt-orange;
  border: none;
  padding: 20px;
  border-radius: 15px;
  width: 100%;

  &:hover,
  &:focus,
  &:active {
    background-color: #FF9151;
  }

  @include vp-768 {
    width: 352px;
    margin: 0 auto;
    padding: 20px;
  }

  @include vp-1440 {
    width: 100%
  }

}

.price-data__button--transparent {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: $color-burnt-orange;
  background-color: transparent;
  // margin-bottom: 7px;

  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
    color: #FF9151;
  }

  @include vp-768 {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    width: 100%;
    margin-bottom: 10px;
  }


  @include vp-768 {
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
  }
}

.card-page .countdown-number {
  padding: 12px;

  @include vp-768 {
    padding: 8px;
  }
}

.card-page .countdown-text {
  @include vp-768 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
  }
}

.card__price.authorization {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    top: -30px;
    width: 100%;
    height: 1px;
    background-color: $color-gainsboro;
  }
}


.price-card__reload {
  box-shadow: 0px 4px 26px 0px #00000014;
  border-radius: 15px;
  margin: 24px 0;
  display: flex;
  flex-direction: column;
  padding: 0 15px 0;

  @include vp-768 {
    flex-direction: row;
    justify-content: space-between;
    // padding-bottom: 15px;
    margin-top: 35px;
  }

  @include vp-1440 {
    flex-direction: column;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -5%;
    width: 100%;
    height: 1px;
    background-color: $color-gainsboro;

    @include vp-768 {
      bottom: -2%;
    }
  }
}

.price-card__reload-wrapper {}

.price-card__title {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: $color-burnt-atlantis;
}

.price-card__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #686868;
  margin-bottom: 15px;

  // @include vp-768 {
  //   margin-bottom: 0;
  // }
}

.price-card__reload-button {
  background-color: transparent;
  margin-top: 0px;

  @include vp-768 {
    width: 200px;
  }

  @include vp-1440 {
    width: 100%;
  }
}

.favorite {
  fill: #ffffff;
  stroke: #686868;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    stroke: $color-burnt-atlantis;
  }
}

.card-page .swiper-slide {
  border-radius: 15px;
}

.price-card__reload-button {
  height: max-content;
  margin: auto 0;
  @include vp-1440 {
    margin-top: 5px;
    margin-bottom: 10px;
  }
}

.page-card:not(.page-card--dark) .mySwiper3 .swiper-slide {
  width: 100% !important;
}

.page-card:not(.page-card--dark) .mySwiper3 .swiper-wrapper {
  @include vp-1440 {
    transform: none !important;
  }
}
