.filter-sorting {
  margin-right: 13px;
}

.filter-sorting__select {
  position: relative;
}

.filter-sorting__select-button {
  position: relative;
  border: none;
  display: flex;
  background-color: $color-default-white;
font-size: 18px;
font-weight: 400;
line-height: 27px;

  & div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &::after {
    content: url(./../../img/svg/arrow.svg);
    position: absolute;
    right: -10px;
    width: 12px;
    height: 100%;
    top: 0;
    z-index: 3;
  }

  &--open-nav {
    &::after {
      rotate: 180deg;
      top: -4px;
    }
  }
}

.filter-sorting__select-list {
  padding: 10px;
  position: absolute;
  width: 160%;
  top: 100%;
  // left: -20%;
  right: 0;
  border-radius: 10px;
  background-color: $color-default-white;
  box-shadow: 0 4px 26px 0 #00000014;
  z-index: 100;
}

.filter-sorting__select-item {
  padding: 10px;
  cursor: pointer;

  &--active {
    color: $color-burnt-orange;
  }
}

.filter__main-wrapper {
  padding: 0 20px;

  @include vp-1440 {
    padding: 12px 0 48px;
  }
}

.filter__container {
  padding: 27px 20px;


  @include vp-768 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 20px;
    padding: 45px 20px 25px;
    grid-template-areas:
    "category region"
    " status brand"
    "model year"
    "transmission submit"
    "reset reset";
  }

  @include vp-1440 {
    padding: 10px 0;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
    "category category category category region region region region status status status status"
    "brand brand brand  model model model year year year transmission transmission transmission"
    "submit submit submit reset reset reset . . . . . .";
  }
}

.filter__option-wrapper {
  margin-bottom: 25px;

  &--category {
    grid-area: category;
  }

  &--region {
    grid-area: region;
  }

  &--status {
    grid-area: status;
  }

  &--brand {
    grid-area: brand;
  }

  &--model {
    grid-area: model;
  }

  &--year {
    grid-area: year;
  }

  &--transmission {
    grid-area: transmission;
  }
}

.filter__submit {
  grid-area: submit;
}

.filter__reset {
  grid-area: reset;
}

.filter__option-wrapper {
  display: flex;
  flex-direction: column;
}

.filter__option-label {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: $color-nero;
  margin-bottom: 7px;
}

.filter__submit {
  // margin-top: auto;
  width: 100%;
  margin: 9px 0;
  border: none;
  background-color: $color-burnt-orange;
  color: $color-default-white;
font-size: 18px;
font-weight: 700;
line-height: 21px;
text-align: center;
padding: 16px 32px;
border-radius: 15px;
max-height: 56px;

@include vp-768 {
  margin: auto 0;
}

@include vp-1440 {
  margin-top: 10px;
  padding: 23px 32px;
  max-height: none;
}
}

.filter__reset {
  border: none;
  background-color: $color-default-white;
  font-size: 18px;
font-weight: 400;
line-height: 21px;
text-align: center;
padding: 24px 32px;
border-radius: 15px;
max-height: 56px;
}

.select {
  width: 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #7E9BBD;
  border-radius: 6px;
  background-color: #fff;
  padding: 10px 35px 10px 15px;
  outline: none;
  cursor: pointer;
}


.select::-ms-expand {
  display: none;
}


.select:focus {
  outline: none;
  box-shadow: 0px 0px 0px 1px #38577a, 0px 0px 10px #7e9bbd;
}


.select-wrapper {
  position: relative;
}

.select-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);

  display: block;

  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10.4px 6px 0 6px;
  border-color: #7e9bbd transparent transparent transparent;
  pointer-events: none;
}


.dropdown {
  position: relative;
}

.dropdown__button {
  position: relative;
  display: block;
  width: 100%;
  text-align: left;
  max-height: 56px;

  background: $color-default-white;
  border: 1px solid $color-gainsboro;
  border-radius: 15px;
  padding: 16px;


  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #686868;

  cursor: pointer;
}

.dropdown__button:focus,
.dropdown__button--active {
  outline: none;
  background-color: #E0E0E0;
}

.dropdown__button::after {
  content: url(./../../img/svg/arrow.svg);
  position: absolute;
  right: 20px;
  width: 9px;
  height: 5px;
  top: 27%;
  z-index: 1;
  pointer-events: none;
}

.dropdown__button--active {
  &::after {
    rotate: 180deg;
    top: 70%;
    // bottom: 130%;
  }
}

.dropdown__list {
  display: none;

  position: absolute;
  left: 0;
  top: 110%;

  margin: 0;

  padding: 18px 2px 6px 6px;
  list-style-type: none;

  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(176, 198, 225, 0.6);
  overflow: hidden;

  border-radius: 6px;
  width: 100%;

  z-index: 3;

  max-height: 200px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.dropdown__list--visible {
  display: block;
}

.dropdown__list-item {
  margin: 0;
  padding: 0;
  padding: 8px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: $color-nero;

}

.dropdown__list-item:hover {
  background: rgba(176, 198, 225, 0.26);
}

.dropdown__input-hidden {
  display: none;
}

.filter-sorting__select-button {
  display: flex;
  justify-content: center;
  align-items: center;

  & svg {
    margin-right: 10px;
  }
}
