footer {
  margin-top: 30px;
}

.footer__container {
  background-color: $color-burnt-atlantis;
  display: flex;
  padding: 15px;

  @include vp-768 {

  }

  @include vp-1440 {

  }
}

.footer__navigation-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: center;
  margin-bottom: 40px;

  @include vp-768 {
    flex-direction: row;
    justify-content: center;
  }

  @include vp-1440 {

  }
}

.footer__navigation-item a {
  color: $color-default-white;

  @include vp-768 {

  }

  @include vp-1440 {

  }
}

.footer__copyright {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;

  @include vp-768 {

  }

  @include vp-1440 {

  }
}

.footer__copyright-text {
  margin: 0;
  color: $color-default-white;

  @include vp-768 {

  }

  @include vp-1440 {

  }
}
