.hero {
  @include vp-768 {
    padding: 0 20px;
  }
}
.hero__container {
  background-color: $color-alice-blue;
  border-radius: 50px;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 33px;
  padding-top: 150px;

  @include vp-768 {
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 78px;
  }

  @include vp-1440 {
    padding-bottom: 118px;
  }

  &::after {
    content: "";
    position: absolute;
    top: -33px;
    left: 20px;
    width: 280px;
    height: 280px;
    opacity: 50%;
    border: 60px solid $color-default-white;
    border-radius: 50%;
    z-index: 1;

    @include vp-768 {
      width: 488px;
      height: 488px;
      border: 120px solid $color-default-white;
      top: -86px;
    }

    @include vp-1440 {
      width: 779px;
      height: 779px;
      border: 180px solid $color-default-white;
      top: -164px;
    }
  }
}

.hero__advantages-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 1fr);
  gap: 16px;
  margin: -49px auto 0;
  min-width: 280px;
  max-width: 728px;
  padding: 0 20px;
  max-width: 1030px;

  @include vp-768 {
    min-width: none;
    margin-top: -44px;
    gap: 16px;
    flex-direction: row;
    grid-template-columns: repeat(4, 1fr);
  }

  @include vp-1440 {
    padding: 0;
    margin-top: -65px;
    gap: 22px;
    grid-template-columns: repeat(4, 1 fr);
  }
}

.hero__advantages-item {
  box-shadow: 0 4px 26px 0 #00000014;
  border-radius: 20px;
  background-color: $color-default-white;
  z-index: 6;
  padding: 16px;
  padding-bottom: 2px;

  @include vp-1440 {
    padding: 23px 23px 10px;
  }
}

.hero__title {
  color: $color-burnt-atlantis;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  margin-bottom: 9px;

  @include vp-768 {
    font-size: 64px;
    line-height: 84px;
    margin: 0;
  }
}

.hero__text {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  margin-top: 9px;
  margin-bottom: 16px;

  @include vp-768 {
    font-size: 24px;
    line-height: 31px;
    margin-top: 2px;
    margin-bottom: 22px;
  }

  @include vp-1440 {
    margin-bottom: 32px;
  }
}

.hero__text-wrapper {
  padding: 55px 20px;
  z-index: 2;

  @include vp-768 {
    width: 391px;
    padding: 0 20px;
  }

  @include vp-1440 {
    padding: 35px 105px;
    width: 561px;
  }
}

.hero__img-wrapper {
  position: absolute;
  right: 10px;
  // left: 20px;
  top: -15px;
  z-index: 2;

  @include vp-768 {
    right: 13px;
    left: auto;
    top: -12px;
  }

  @include vp-1440 {
    right: 105px;
    left: auto;
    top: -33px;
  }

  & img {
    margin: 0 auto;
  }
}

.hero__advantages-title {
font-size: 16px;
font-weight: 500;
line-height: 24px;
margin-bottom: 15px;
margin-top: 13px;

@include vp-1440 {
  font-size: 18px;
line-height: 27px;
}
}

.hero__advantages-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  margin-top: 15px;

  @include vp-1440 {
    font-size: 16px;
  line-height: 24px;
  }
}
