.map {
  padding: 20px 20px 80px;
}

.map__container {
  padding: 10px 15px;
  background-color: #F2F4F5;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;

  @include vp-768 {
    padding: 45px 15px 10px;
font-size: 16px;
line-height: 24px;
  }
}

.map__img-wrapper {
  display: none;

  @include vp-768 {
    display: block;
    position: relative;
    width: 664px;
    height: 390px;
    margin: 0 auto;
    // background-image: url("../../img/content/Group-2.png");
    // background-size: 100% 100%;
  }
}

#central-map-img {
  position: absolute;
  top: 209px;
  left: 35px;

  & .map__number--img {
    position: absolute;
    left: 25%;
    top: 20%;
    z-index: 2;
  }
}

#far-eastern-map-img {
  position: absolute;
  top: -6px;
  right: -15px;
  height: 345px;
  width: 325px;

  & .map__number--img {
    position: absolute;
    left: 40%;
    top: 45%;
    z-index: 2;
  }

  img {
    height: 100%;
    width: 100%;
    position: absolute;
  }
}

#southern-map-img {
  position: absolute;
  bottom: 44px;
  left: -5px;
  width: 125px;
  height: 68px;

  & .map__number--img {
    position: absolute;
    left: 50%;
    top: 20%;
    z-index: 2;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

#north-caucasian-map-img {
  position: absolute;
  bottom: 16px;
  left: 44px;

  & .map__number--img {
    position: absolute;
    left: 20%;
    top: 20%;
    z-index: 2;
  }
}

#privolzhsky-map-img {
  position: absolute;
  bottom: 63px;
  left: 84px;

  & .map__number--img {
    position: absolute;
    left: 30%;
    top: 35%;
    z-index: 2;
  }
}

#north-western-map-img {
  position: absolute;
  bottom: 151px;
  left: 0;

  & .map__number--img {
    position: absolute;
    left: 55%;
    top: 60%;
    z-index: 2;
  }
}

#ural-map-img {
  position: absolute;
  top: 123px;
  left: 164px;

  & .map__number--img {
    position: absolute;
    left: 45%;
    top: 45%;
    z-index: 2;
  }
}

#siberian-map-img {
  position: absolute;
  top: 78px;
  left: 216px;
  height: 275px;
  width: 280px;

  & .map__number--img {
    position: absolute;
    left: 45%;
    top: 60%;
    z-index: 2;
  }

  img {
    height: 280px;
    width: 265px;
    object-fit: contain;
  }
}

.map__list {
  @include vp-768 {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 9px 15px;
    gap: 0 24px;

    &::after {
      content: "";
      position: absolute;
      background-color: #E0E0E0;
      width: 1px;
      // height: 100%;
      bottom: 20px;
      top: 20px;
      left: 50%;
    }

  }
}

.map__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  cursor: pointer;
  z-index: 1;
  padding: 5px 0;

  &:not(:last-child)::after {
    content: "";
    position: absolute;
    background-color: #E0E0E0;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
  }

  @include vp-768 {
    padding: 4px 0;

    &:nth-child(7)::after {
      content: none;
    }
  }
}

.map__item {
  &:hover, &:focus, &:active {
    .map__name, .map__number {
    color: #FF9151;
    }
  }
}

.map__number {
  background-color: #ffffff;
  border: 1px solid #F2F4F5;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &:hover, &:focus, &:active {
    color: #FF9151;
  }
}

.map__number--img {
  cursor: pointer;
}

.map__number--img-active,
.map__item--active .map__name {
  color: #FF9151;
}

.map__img-item {
  img {
    fill: red;
  }
}
