.map {
  padding: 20px 20px 80px;
  max-width: 1280px;
  margin: 0 auto;

  @include vp-1440 {
    padding-top: 47px;
  }
}

.map__container {
  padding: 10px 15px;
  background-color: #F2F4F5;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;

  @include vp-768 {
    padding: 45px 15px 10px;
    font-size: 16px;
    line-height: 24px;
  }

  @include vp-1440 {
    display: flex;
    flex-direction: row-reverse;
    padding: 10px 20px;
  }
}

.map__img-wrapper {
  display: none;

  @include vp-768 {
    display: block;
    position: relative;
    width: 664px;
    height: 390px;
    margin: 0 auto;
  }

  @include vp-1440 {
    width: 800px;
    height: 470px;
    margin: auto;
  }
}

#central-map-img {
  position: absolute;
  top: 209px;
  left: 35px;

  @include vp-1440 {
    top: 258px;
    left: 35px;
  }

  & .map__number--img {
    position: absolute;
    left: 25%;
    top: 20%;
    z-index: 2;

    @include vp-1440 {
      top: 29%;
    }
  }

  img {
    @include vp-1440 {
      width: 135px;
      height: 100px;
    }
  }
}

#far-eastern-map-img {
  position: absolute;
  top: -6px;
  right: -15px;
  height: 345px;
  width: 325px;

  @include vp-1440 {
    top: -1px;
    right: 6px;
    width: 340px;
    height: 460px;
  }

  & .map__number--img {
    position: absolute;
    left: 40%;
    top: 45%;
    z-index: 2;

    @include vp-1440 {
      left: 35%;
    top: 45%;
    }
  }

  img {
    height: 100%;
    width: 100%;
    position: absolute;

    @include vp-1440 {
      width: 400px;
      height: 420px;
    }
  }
}

#southern-map-img {
  position: absolute;
  bottom: 44px;
  left: -5px;
  width: 125px;
  height: 68px;

  @include vp-1440 {
    left: 6px;
    bottom: 74px;
  }

  & .map__number--img {
    position: absolute;
    left: 50%;
    top: 20%;
    z-index: 2;

    @include vp-1440 {
      top: 43%;
    }
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;

    @include vp-1440 {
      width: 120px;
      height: 110px;
    }
  }
}

#north-caucasian-map-img {
  position: absolute;
  bottom: 16px;
  left: 44px;

  @include vp-1440 {
    bottom: 14px;
    left: 45px;
  }

  & .map__number--img {
    position: absolute;
    left: 20%;
    top: 20%;
    z-index: 3;

    @include vp-1440 {
      left: 10%;
    }
  }

  @include vp-1440 {
    img {
      width: 60px;
      height: 65px;
    }
  }
}

#privolzhsky-map-img {
  position: absolute;
  bottom: 63px;
  left: 84px;

  @include vp-1440 {
    left: 98px;
    bottom: 70px;
  }

  & .map__number--img {
    position: absolute;
    left: 30%;
    top: 35%;
    z-index: 2;
  }

  @include vp-1440 {
    img {
      width: 135px;
      height: 130px;
    }
  }
}

#north-western-map-img {
  position: absolute;
  bottom: 151px;
  left: 0;

  @include vp-1440 {
    bottom: 174px;
    left: -1px;
  }

  & .map__number--img {
    position: absolute;
    left: 55%;
    top: 60%;
    z-index: 2;
  }

  @include vp-1440 {
    img {
      width: 320px;
      height: 180px;
    }
  }
}

#ural-map-img {
  position: absolute;
  top: 123px;
  left: 164px;

  @include vp-1440 {
    top: 154px;
    left: 195px;
  }

  & .map__number--img {
    position: absolute;
    left: 45%;
    top: 45%;
    z-index: 2;

    @include vp-1440 {
      left: 47%;
      top: 46%;
    }
  }

  @include vp-1440 {
    img {
      width: 180px;
      height: 237px;
    }
  }
}

#siberian-map-img {
  position: absolute;
  top: 78px;
  left: 216px;
  height: 275px;
  width: 280px;

  @include vp-1440 {
    top: 98px;
    left: 278px;
  }

  & .map__number--img {
    position: absolute;
    left: 45%;
    top: 60%;
    z-index: 2;
  }

  img {
    height: 280px;
    width: 265px;
    object-fit: contain;

    @include vp-1440 {
      height: 350px;
      width: 300px;
    }
  }
}

.map__list {
  @include vp-768 {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 9px 15px;
    gap: 0 24px;

    &::after {
      content: "";
      position: absolute;
      background-color: #E0E0E0;
      width: 1px;
      bottom: 20px;
      top: 20px;
      left: 50%;
    }
  }

  @include vp-1440 {
    grid-template-columns: 1fr;
    width: 333px;

    &::after {
      content: none;
    }
  }
}

.map__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  cursor: pointer;
  z-index: 1;
  padding: 5px 0;

  &:not(:last-child)::after {
    content: "";
    position: absolute;
    background-color: #E0E0E0;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
  }

  @include vp-768 {
    padding: 4px 0;

    &:nth-child(7)::after {
      content: none;
    }
  }

  @include vp-1440 {
    &:nth-child(7)::after {
      content: "";
    position: absolute;
    background-color: #E0E0E0;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    }
  }
}

.map__item {
  &:hover, &:focus, &:active {
    .map__name, .map__number {
    color: #FF9151;
    }
  }
}

.map__number {
  background-color: #ffffff;
  border: 1px solid #F2F4F5;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &:hover, &:focus, &:active {
    color: #FF9151;
  }

  @include vp-768{
    width: 33px;
    height: 33px;
  }

  @include vp-1440 {
    width: 40px;
    height: 40px;
  }
}

.map__number--img {
  cursor: pointer;
}

.map__number--img-active,
.map__item--active .map__name,
.map__item--active .map__number {
  color: #FF9151;
}

