.navigation__wrapper {
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  width: 100%;
  min-width: 320px;
  max-width: 1240px;

  @include vp-1440 {
    width: 1240px;
    padding: 0;
  }
}

.navigation {
  z-index: 200;
  opacity: 100%;
}

.navigation__list-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation__list {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-right: 20px;

  @include vp-1440 {
    margin-right: 0;
  }

  &--desktop {
    display: none;

    @include vp-1440 {
      display: flex;
      margin-right: 15px;
    }
  }

  &--main {
    margin-right: 0;
  }

  &--open {
    display: block;
    position: absolute;
    top: 130%;
    left: 0%;
    background-color: $color-default-white;
    box-shadow: 0 4px 26px 0 #00000014;
    width: 100%;
    z-index: 200;

    & a {
      font-size: 18px;
      font-weight: 500;
      line-height: 27px;
      padding: 12px 20px;

      @include vp-768 {
        font-size: 24px;
        font-weight: 400;
        line-height: 31px;
      }
    }
  }
}

.navigation__item {
  display: flex;

  &--tablet {
    display: none;

    @include vp-768 {
      display: flex;
    }
  }

  &--select {
    position: relative;

    & button {
      width: 55px;
      // text-align: center;
      display: flex;
      justify-content: center;
    }
  }

  &--decoration {
    @include vp-768 {
      border-radius: 10px;
      border: 1px solid $color-burnt-orange;
    }
  }

  &--active a {
    color: $color-burnt-orange;
  }

  button {
    display: flex;
    border: none;
    background-color: transparent;
  }

  & a {
    z-index: 100;
  }
}

.navigation__select {
  &-list {
    padding: 10px;
    position: absolute;
    width: 90%;
    top: 150%;
    left: 30%;
    border-radius: 10px;
    background-color: $color-default-white;
    box-shadow: 0 4px 26px 0 #00000014;
    z-index: 800;
  }
}

.navigation__select-button {
  position: relative;

  & div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &::after {
    content: url(./../../img/svg/arrow.svg);
    position: absolute;
    right: -10px;
    top: -1px;
    width: 9px;
    height: 100%;
    z-index: 3;
    transition-property: rotate;
    transition-duration: 0.2s;
  }

  &--open-nav {
    &::after {
      rotate: 180deg;
      top: 1px;
      transition-property: rotate;
      transition-duration: 0.2s;
    }
  }
}

.navigation__item-name {
  position: relative;

  &--tablet {
    display: none;

    @include vp-768 {
      display: block;
    }
  }
}

.navigation__button {
  border: none;
  background-color: transparent;
  position: relative;
  width: 32px;
  height: 32px;
  margin: auto 0;

  @include vp-1440 {
    display: none;
  }

  & span {
    display: block;
    position: absolute;
    background-color: $color-nero;
    height: 3px;
    width: 22px;
    top: 13px;
    left: 5px;
    right: 5px;
    transition-duration: 0.3s, 0.1s;
    transition-delay: 0.3s, 0s;

    &::before {
      position: absolute;
      display: block;
      height: 3px;
      top: -7px;
      width: 100%;
      background-color: $color-nero;
      content: "";
      transition-duration: 0.3s, 0.3s;
      transition-delay: 0.3s, 0s;
    }

    &::after {
      position: absolute;
      display: block;
      height: 3px;
      bottom: -7px;
      width: 100%;
      background-color: $color-nero;
      content:"";
      transition-duration: 0.3s, 0.3s;
      transition-delay: 0.3s, 0s;
    }
  }

  &--active {
    & span {
      background: none;
    }

    & span::after {
      transform: rotate(-45deg);
      top: 0;
    }

    & span::before {
      transform: rotate(45deg);
      top: 0;
    }
  }
}

.navigation {
  &--minor {
    background-color: $color-alice-blue;
    min-height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-bottom: 1px solid $color-gainsboro;

    & .navigation__item-name {
      display: flex;
      margin: auto  0;
    }

    & .navigation__list {
      gap: 35px;
      margin-right: 15px;
    }

    & .navigation__img {
      width: 64px;
      height: 18px;
    }
  }

  &--main {
    .navigation__wrapper {
      padding: 10px 20px;

      @include vp-1440 {
        padding: 10px 0;
      }
    }

    .navigation__item {
      // padding: 10px;

      &--decoration button {
        display: flex;
        gap: 10px;
      }
    }

    .navigation__img {
      margin: auto auto auto 16px;
      z-index: 300;

      & img {
        opacity: 100%;
      }

      @include vp-1440 {
        margin: auto auto auto 0;
      }
    }
  }
}

.navigation__select-item {
  cursor: pointer;
  padding: 5px 0;

  &--active {
    color: $color-burnt-orange;
  }
}

.navigation__select-button {
  padding: 0;
  // padding-left: 5px;
}


.navigation__list--desktop.navigation__list--open {
  @include vp-1440 {
    display: none;
  }
}
