.news__item {
  background-color: $color-default-white;
  border-radius: 15px;

  @include vp-1440 {
    padding: 10px 0;
  }

  &--not-tablet {
    @include vp-768 {
      display: none;
    }

    @include vp-1440 {
      display: block;
    }
  }

  cursor: pointer;
}

.news {
  margin: 64px 0 64px;

  &--news-card-page .container {
    padding: 0 20px;
  }

  @include vp-768 {
    margin: 80px 0 80px;
  }

  @include vp-1440 {
    margin: 120px 0 120px;
  }

  .swiper-pagination {
    @include vp-768 {
      display: none;
    }
  }
}

.news__main-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news__title, .news__item p:not(.news__tagline):not(.news__date) {
  font-family: "SF Pro Display", "Arial", sans-serif !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 24px;
  color: $color-nero;
  margin-top: 8px;
  margin-bottom: 0;
  @include vp-768 {
    min-height: 47px;
  }
}

.news__item p:not(.news__tagline) {
  margin-top: 6px;
}

.news__tagline, .news__tagline span {
  font-family: "SF Pro Display", "Arial", sans-serif !important;
  font-size: 18px !important;
  font-weight: 500 !important;
  line-height: 27px;
  color: $color-burnt-atlantis !important;
  margin-top: 5px;
  margin-bottom: 8px;
}

.news__button {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  width: 100%;
  border: 1px solid $color-burnt-orange;
  border-radius: 15px;
  padding: 15px 24px;
  display: block;
  text-align: center;

  margin-top: 20px;

  &:hover, &:focus, &:active {
    color: $color-burnt-orange;
  }

  @include vp-768 {
    width: 142px;
    margin-top: 20px;
    margin-bottom: 0;
  }

  @include vp-1440 {
    margin-top: 0;
  }
}

.swiper-button-lock {
  display: none;
}

.news__container {
  padding: 21px 0 40px;

  @include vp-768 {
    padding: 38px 0;
  }

  @include vp-1440 {
    padding: 54px 0 0;
  }

  .swiper-pagination {
    bottom: 0;
  }
}

.news--news-page {
  & .container {
    padding: 0 20px;

    @include vp-1440 {
      padding: 0;
    }
  }

  @include vp-1440 {
    padding: 0;
  }

  .news__item {
    box-shadow: none;
    padding: 0;
    position: relative;

    &:not(:last-child)::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -23px;
      height: 1px;
      background-color: $color-gainsboro;

      @include vp-768 {
        content: none;
      }
    }
  }

  .news__list {
    display: grid;
    gap: 44px;
    grid-template-columns: repeat(1, 1fr);

    @include vp-768 {
      gap: 26px 16px;
      grid-template-columns: repeat(3, 1fr);
    }

    @include vp-1440 {
      gap: 24px;
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.news--news-card-page {
  margin-bottom: 73px;

  .news__container {
    padding: 0;
  }

  .container {
    @include vp-1440 {
      padding: 0 !important;
      width: 1240px;
    }
  }

  .news__title {
    font-size: 24px !important;
    font-weight: 400;
    line-height: 31px;
    color: $color-burnt-atlantis;
  }

  .news__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  .news__text--main {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    margin-top: 48px;
    margin-bottom: 25px;
  }

  .news__link {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: $color-burnt-orange;
    margin-top: 47px;
    display: flex;
    justify-content: center;

    @include vp-768 {
      justify-content:flex-start
    }

    &:hover, &:focus, &:active {
      text-decoration: underline;
      text-underline-offset: 6px;
      color: #FF9151;
    }
  }

  .news__date {
    font-size: 16px !important;
    margin-top: 10px;
    margin-bottom: 18px;
  }
}

.news__date {
  font-size: 14px !important;
  font-weight: 400;
  line-height: 17px;
  color: #686868;
  margin-bottom: 5px;
}
