.news__item {
  background-color: $color-default-white;
  border-radius: 15px;

  @include vp-1440 {
    padding: 10px 0;
  }

  &--not-tablet {
    @include vp-768 {
      display: none;
    }

    @include vp-1440 {
      display: block;
    }
  }

  cursor: pointer;
}

.news {
  margin: 30px 0;

  &--news-card-page .container {
    padding: 0 20px;
  }

  @include vp-768 {
    margin: 0px 0;
  }

  .swiper-pagination {
    @include vp-768 {
      display: none;
    }
  }
}

.news__main-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news__list {
  padding: 0 0 30px;

  @include vp-768 {

  }
}

.news__date {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #686868;
  margin-bottom: 5px;
}

.news__tagline {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: $color-burnt-atlantis;
  margin-top: 5px;
  margin-bottom: 8px;
}

.news__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: $color-nero;
  margin-top: 8px;
  margin-bottom: 0;
  min-height: 47px;
}

.news__button {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  width: 100%;
  border: 1px solid $color-burnt-orange;
  border-radius: 15px;
  padding: 15px 24px;
  display: block;
  text-align: center;

  &:hover, &:focus, &:active {
    border-color: #FF9151;
  }

  @include vp-768 {
    width: 142px;
    margin-top: 24px;
    margin-bottom: 0;
  }

  @include vp-1440 {
    margin-top: 0;
  }
}

.swiper-button-lock {
  display: none;
}

.news__container {
  padding: 12px 0;

  @include vp-768 {
    padding: 28px 0;
  }

  @include vp-1440 {
    padding: 35px 0;
  }

  .swiper-pagination  {
    bottom: 8px;
  }
}

.news--news-page {
  & .container {
    padding: 0 20px;

    @include vp-1440 {
      padding: 0;
    }
  }

  @include vp-1440 {
    padding: 0;
  }

  .news__item {
    box-shadow: none;
    padding: 0;
  }

  .news__list {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(1, 1fr);

    @include vp-768 {
      gap: 16px;
      grid-template-columns: repeat(3, 1fr);
    }

    @include vp-1440 {
      gap: 24px;
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.news--news-card-page {
  .news__container {
    padding: 0;
  }

  .container {
    @include vp-1440 {
      padding: 0 !important;
      width: 1240px;
    }
  }

  .news__title {
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    color: $color-burnt-atlantis;

    @include vp-768 {
      font-size: 24px;
      font-weight: 400;
      line-height: 31px;
    }
  }

  .news__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  .news__text--main {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
  }

  .news__link {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: $color-burnt-orange;
    text-align: center;

    @include vp-768 {
      text-align: left;
    }

    &:hover, &:focus, &:active {
      text-decoration: underline;
      text-underline-offset: 6px;
      color: #FF9151;
    }
  }
}
