.news__item {
  // box-shadow: 0 4px 26px 0 #00000014;
  background-color: $color-default-white;
  border-radius: 15px;
  // padding: 10px 20px;

  @include vp-1440 {
    padding: 10px 0;
  }

  &--desktop {
    display: none;

    @include vp-1440 {
      display: block;
    }
  }

  cursor: pointer;
}


.news {
  margin: 30px 0;

  &--news-card-page .container {
    padding: 0 20px;
  }
}

.news__main-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news__list {
  padding: 0 0 30px;
}

.news__date {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #686868;
}

.news__tagline {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: $color-burnt-atlantis;
}

.news__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: $color-nero;
}

.news__button {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  width: 100%;
  border: 1px solid $color-burnt-orange;
  border-radius: 15px;
  padding: 15px 24px;
  display: block;
  text-align: center;
}

.swiper-button-lock {
  display: none;
}

.news--news-page {
  & .container {
    padding: 0 20px;

    @include vp-1440 {
      padding: 0;
    }
  }

  @include vp-1440 {
    padding: 0;
  }

  .news__item {
    box-shadow: none;
    padding: 0;
  }

  .news__list {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(1, 1fr);

    @include vp-768 {
      gap: 16px;
      grid-template-columns: repeat(3, 1fr);
    }

    @include vp-1440 {
      gap: 24px;
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.news--news-card-page {
  .news__container {
    padding: 0;
  }

  .container {
    @include vp-1440 {
      padding: 0 !important;
      width: 1240px;
    }
  }

  .news__title {
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    color: $color-burnt-atlantis;

    @include vp-768 {
      font-size: 24px;
      font-weight: 400;
      line-height: 31px;
    }
  }

  .news__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  .news__text--main {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
  }

  .news__link {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: $color-burnt-orange;
    text-align: center;

    @include vp-768 {
      text-align: left;
    }
  }
}
